.game-ui {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1rem;
  color: white;
  font-weight: bold;
  z-index: 10;
  pointer-events: none;
}

.ui-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background: rgba(0, 0, 0, 0.5);
  padding: 0.5rem 1rem;
  border-radius: 10px;
}

.pause-button {
  pointer-events: auto;
  background-color: #ffaaaa;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 99vw;
  cursor: pointer;
}
